*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.con{
    background-color: rgb(212, 74, 74);
    height: 200px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.col1{
    width: 45%;
    text-align: center;
}
.col1 input{
    margin-top: 20px;
    width: 400px;
    height: 35px;
    padding: 10px 10px;
    outline: unset;
}
ul{
    list-style: none ;
    padding-bottom: 10px;
}
ul li{
    padding: 10px;
    margin-bottom: 4px;
    background-color: bisque;
}
.col1 button{
    padding: 8px 16px;
}
.con2{
    min-height: 450px;
    background-color: rgb(197, 175, 175);
    display: flex;
    justify-content: center;
}
.col2{
    margin-top: 5px;
    width: 40%;
    /* border: 1px dashed black; */
    max-height: 200px;
}