*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.con{
    background-color: rgb(212, 74, 74);
    height: 200px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.col1{
    width: 45%;
    text-align: center;
}
.col1 input{
    margin-top: 20px;
    width: 400px;
    height: 35px;
    padding: 10px 10px;
}
.col1 button{
    padding: 6px 16px;
}
.con2{
    height: 500px;
    background-color: rgb(197, 175, 175);
    display: flex;
    justify-content: center;
}
.col2{
    width: 40%;
    border: 1px dashed black;
    height: 400px;
}